* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-left: 50px;
  padding-right: 50px;
  background-image: url("./img/background.gif");
  background-size: auto;
  background-repeat: round;
  background-attachment: fixed;
}

input {
  color: blue;
  font-size: 1.2rem;
  width: 99%;
  height: 40px;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

div#app {
  background-color: rgb(248,248,245, 0.9);
  display: block;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 2px solid rgb(57, 86, 253);
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  width: 25vw;
  background: white;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card p {
  padding: 5px;
}

.card img {
  max-height: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ol {
  padding-inline-start: 30px;
  padding-inline-end: 30px;
}

.title {
  padding: 6px;
}

.footer,
.nav {
  text-align: center;
  background-color: #3b4fe6;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: 2em;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .card img {
    max-height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    padding-left: 20px;
    padding-right: 20px;
  }

  .card {
    align-content: center;
    border: 2px solid rgb(57, 86, 253);
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    width: 90vw;
    background: white;
  }

  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  input {
    color: blue;
    font-size: 0.8rem;
    width: 90%;
  }

  ol {
    padding-inline-start: 20px;
    padding-inline-end: 10px;
  }

  .title {
    padding: 6px;
  }

  .footer,
  .nav {
    text-align: center;
    background-color: #3b4fe6;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 2em;
  }

  body {
    padding-left: 20px;
    padding-right: 15px;
    background-image: url("./img/background.gif");
    background-size: auto;
    background-repeat: round;
    background-attachment: fixed;
  }
}
